@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:140px">
    <h3 class="display-5">Bienvenido a:</h3>
    <h1 class="display-1"><strong>Librerias Reto</strong></h1>
    <p style="font-size:30px">[user.name]</p>

    <p style="font-size:20px; margin-bottom:6px"><strong>La aplicación todavía se encuentra en desarrollo</strong></p>
    <p>es posible que algunas funcionalidades no se encuentren disponibles</p>

</div>
