@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LibreriasReto.DTO.ClienteDTO;

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2>Nuevo Cliente</h2>
        <form asp-controller="Cliente" asp-action="Create" method="post">
            <div class="mb-3 form-group">
                <label asp-for="Dni">DNI</label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Nombre">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Apellido">Apellido Completo</label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="mb-4 form-group">
                <label>Estado</label>
                <input class="form-control" asp-for="EsActivo" type="text" value="1" readonly hidden />
                <input class="form-control" value="Activo" readonly />
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Registrar</button>
                <a asp-controller="Cliente" asp-action="Lista" style="border: 1px solid blue; color:blue" class="btn">Volver</a>
            </div>
        </form>
    </div>
</div>

<h1>@ViewBag.MENSAJE</h1>

<script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</script>