@model LibreriasReto.DTO.AccesoDTO;

<style>
    .boton {
        border: none;
        border-radius: 4px;
        margin-left: 5px;
        height: 30px;
        background-color: #e0e0e0; /* Color de fondo normal */
        transition: background-color 0.2s ease; /* Transición para suavizar el cambio de color */
    }

    .boton:active,
    .boton:focus {
        background-color: #c0c0c0; /* Color de fondo cuando se hace clic o el botón está enfocado */
        outline: none; /* Eliminar el borde de enfoque predeterminado */
    }
</style>

<div style="display:flex;justify-content:center; gap:20px" class="mt-5">
    <div style="width: 400px; padding:15px; border-right:1px solid black"  >
        <h3 class="mb-3" style="text-align:center">Ingresar</h3>
        <form asp-action="loginIngresar" method="post" style="width: 450px;">
            <div class="mb-3">
                <label><strong>DNI:</strong></label>
                <input id="pasteInputDni" name="clave" type="number" style="margin-left:74px"/>
                <button id="pasteButtonDni" class="boton">pegar</button>
            </div>            
            <div>
                <label><strong>Contraceña:</strong></label>
                <input id="pasteInputPassword" name="password" id="password" type="password" style="margin-left:18px" />
                <button id="pastebuttonPassword" class="boton">pegar</button>
            </div>
                <button class="btn btn-success mt-3" style="margin-left:124px; width:130px" type="submit">Ingresar</button>
        </form>

        @if (ViewBag.MENSAJE != null)
        {
            <div class="alert alert-danger mt-4" style="width: 100%; text-align: center">
                @ViewBag.MENSAJE
            </div>
        }
    </div>
    <div style="width:400px; height:100px; padding:15px; height:170px; align-items:center">
        <h3 class="mb-3" style="text-align:center">Sesion de prueba</h3>
        <div style="display:flex; justify-content:center; width:100%" class="mb-3">
            <input id="copyInputDni" value="12345678"></input>
            <button id="copyButtonDni" class="boton">Copiar</button>
        </div>
        <div style="display:flex; justify-content:center; width:100%">
            <input id ="copyInputPassword" value="32207a220eed3e0e041190bb17e623c6c38f8ab4d65986084d5bd473a7a8b0d2" type="password"></input>
            <button id="copyButtonPassword" class="boton">Copiar</button>
        </div>
    </div>
    </div>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        const contra = document.getElementById('password');
        contra.value = '';
        
    });

    let dniCopiado
    let passwordCopiado

    //inputs de ingresar
    const pegarinputdni = document.getElementById("pasteInputDni");
    const pegarinputpass = document.getElementById("pasteInputPassword");
    //botones de ingresar
    const pegarbotondni = document.getElementById("pasteButtonDni");
    const pegarbotonpass = document.getElementById("pastebuttonPassword");
    //inputs de pueba
    const copiarinputdni = document.getElementById("copyInputDni");
    const copiarinputpass = document.getElementById("copyInputPassword");
    // botones de prueba
    const copiarbotondni = document.getElementById("copyButtonDni");
    const copiarbotonpass = document.getElementById("copyButtonPassword");

    //eventos para copiar los inputs
    copiarbotondni.addEventListener("click", () => {
        dniCopiado = copiarinputdni.value
    });

    copiarbotonpass.addEventListener("click", () => {
        passwordCopiado = copiarinputpass.value
    })

    //eventos para pegar en los inputs
    pegarbotondni.addEventListener("click", (event) => {
        event.preventDefault();
        pegarinputdni.value = dniCopiado
    });

    pegarbotonpass.addEventListener("click", (event) => {
        event.preventDefault();
        pegarinputpass.value = passwordCopiado
    });

</script>