@model IEnumerable<LibreriasReto.DTO.AreaDTO>

<h2 class="mb-3">Mantenimiento Areas Laborales</h2>
<div style="display: flex">
    <a asp-controller="Area" asp-action="Create" class="btn btn-success mb-3 d-flex align-items-center">
        <span class="me-1">Nuevo</span>
        <span class="material-symbols-outlined">add</span>
    </a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID Area</th>
            <th>Cargo</th>
            <th>Sueldo</th>
            <th style="text-align: center" colspan="1">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdArea</td>
                <td>@item.Cargo</td>
                <td>S/. @item.Sueldo</td>
                <td style="text-align:center"><a style="text-decoration:none" asp-controller="Area" asp-action="Update" asp-route-id="@item.IdArea">Editar</a></td>
            </tr>
        }
    </tbody>
</table>
